@import '../../styles/main.scss';

.container {
  @extend %modal;
  top: calc(50% - 30.5px);
  left: calc(50% - 117px);
  border-radius: $border-radius-m;

  &::before {
    @include modal-before($border-radius-m);
  }
}

.form {
  @include flexItem(row, 15px);
  align-items: center;
  padding: 15px;

  .input {
    padding: 2px 0;
    outline: none;
    border: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid $grey-s;
    background-color: transparent;
    font-size: 14px;

    &::placeholder {
      color: $grey-m;
    }

    &.inputInvalid {
      color: $red;
    }
  }

  .buttonsContainer {
    @include flexItem(row, 5px);

    .button {
      border-radius: $border-radius-s;

      .icon {
        @include icon(18px);
      }

      &:hover {
        background-color: $grey-s;
      }

      &:disabled {
        background-color: transparent;

        .icon {
          color: $grey-m;
        }
      }
    }
  }
}
