@import '../../styles/main.scss';

.textarea {
  flex-grow: 1;
  padding: 3px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  font-family: $font-family-secondary;
  font-weight: 500;
  color: $dark-primary;
  resize: none;
}
