@import '../../styles/main.scss';

.window,
.windowMaximized {
  position: absolute;
  @include flexItem();
  color: $grey-l;
  background-color: $light-primary;
  user-select: none;

  .content {
    flex-grow: 1;
  }
}

.window {
  top: calc(100vh / 4);
  left: calc(100vw / 4);
  width: 720px;
  height: 394px;
  padding-bottom: 10px;
  border-radius: $border-radius-m;
  box-shadow: $box-shadow-window;
  overflow: hidden;
}

.windowMaximized {
  top: 0;
  left: 0;
  bottom: 28px;
  width: 100%;
}

.windowMinimized {
  display: none;
}
