@import '../../styles/main.scss';

// inspired by https://codepen.io/sstephenson/pen/kawawV?editors=1100
.menu {
  @extend %modal;
  border-radius: $border-radius-s;
  min-width: 200px;

  &::before {
    @include modal-before($border-radius-s);
  }

  .separator {
    height: 1px;
    margin: 6px 10px 5px;
    padding: 0;
    border: none;
    background-color: $grey-s;
  }

  .menuitem,
  .menuitemDisabled,
  .menuitemBackground {
    @extend %menuitem;

    .icon {
      @include icon(15px);
    }
  }

  .menuitemDisabled {
    color: $grey-m;
  }

  .menuitemBackground {
    position: relative;
  }

  .backgroundOptionsContainer {
    @extend %modal;
    top: 0;
    left: 194px;
    display: none;
    border-radius: $border-radius-s;
    min-width: 200px;
  }

  .menuitem:hover,
  .menuitemBackground:hover {
    @extend %menuitemHover;

    .icon {
      color: $light-primary;
    }
  }

  .menuitemBackground:hover .backgroundOptionsContainer {
    display: block;
  }
}
