@import '../../styles/main.scss';

.topBar {
  @include flexItem(row, 12px);
  align-items: center;
  padding: 4px 124px 4px 8px;
  border-bottom: 1px solid $grey-m;

  .buttonsContainer {
    @include flexItem(row);

    .controlElement {
      padding: 4px;

      .circle {
        display: block;
        width: 12px;
        height: 12px;
        padding: 1px;
        border-radius: 50%;
        overflow: hidden;

        &.close {
          background-color: $red;
        }
        &.hide {
          background-color: $yellow;
        }
        &.maximize {
          background-color: $green;
        }
      }
    }
  }

  .itemTitle {
    margin: 0 auto;
    font-weight: 700;
    @include textLimit(1);
  }
}
