@mixin flexItem($direction: column, $gap: 0px) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin textLimit($linesCount) {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $linesCount;
}

@mixin icon($width) {
  width: $width;
  color: $dark-primary;
}

@mixin modal-before($borderRadius) {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  border-radius: $borderRadius;
  border: 1px solid rgba(0, 0, 0, 0.125);
  z-index: -1;
}
