@import '../../styles/main.scss';

.backward,
.forward {
  @extend %button;

  .icon {
    @include icon(14px);
    margin: 0 auto;
  }

  &:hover {
    background-color: $grey-s;
  }

  &:disabled {
    background-color: transparent;

    .icon {
      color: $grey-m;
    }
  }
}
