@import '../../styles/main.scss';

.window,
.windowMaximized {
  position: absolute;
  @include flexItem();
  color: $grey-l;
  background-color: $light-primary;
  user-select: none;

  .itemsContainer {
    @include flexItem(row, 20px);
    flex-wrap: wrap;
    padding: 8px;
    overflow-y: auto;
  }
}

.window {
  top: calc(100vh / 4);
  left: calc(100vw / 4);
  width: 720px;
  height: 394px;
  border-radius: $border-radius-m;
  box-shadow: $box-shadow-window;
}

.windowMaximized {
  top: 0;
  left: 0;
  bottom: 28px;
  width: 100%;
}
